doctype html
html
  head
    title Event Created
  body
    h1 Event Confirmation
    p Hello!
    p Your event "#{title}" is scheduled on #{date} at #{location}.
    p Thank you for using our service!
